.urls {
  margin-top: 1rem;
}

.chartGroup {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .chartGroup {
    grid-template-columns: 1fr 1fr;
  }
}
