:root {
  --black: #171717;
  --white: #ffffff;
  --green: #5bc871;
  --gradeAp: var(--green);
  --gradeA: #b1de3f;
  --gradeB: #ebf138;
  --gradeC: #fabf3f;
  --gradeD: #fa803f;
  --gradeE: #f64434;
  --gradeF: #c80000;
  --background: var(--white);
  --foreground: var(--black);
  --background-inverse: var(--black);
  --foreground-inverse: var(--white);
  --foreground-subtle: #747474;
  --background-subtle: hsl(0, 0%, 94%);

  --border-color-primary: #ccc;

  --fs-display: 3rem;
  --fs-body: 1.25rem;
  --fs-subtle: 1rem;
  --fs-tiny: 0.75rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --page-padding: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #040208;
    --white: #ededed;
    --background: var(--black);
    --foreground: var(--white);
    --background-inverse: var(--white);
    --foreground-inverse: var(--black);
    --foreground-subtle: #7d7d7d;
    --background-subtle: hsl(260, 10%, 8%);
    --border-color-primary: #444;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: var(--fs-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main,
.content-area {
  overflow-x: auto;
  padding: 0 var(--page-padding);
}

.content-area {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;

  main {
    padding: 2rem 0;
  }
}

.menu-open {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0;
  border-bottom: 1px solid var(--border-color-primary);
  padding: 0.5rem 0;
  background: none;
  cursor: pointer;

  svg {
    display: block;
    height: 2rem;
  }
}

.back-to {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.nav-secondary {
  display: grid;
  grid-template-rows: 0fr;
  padding: 0 1.5rem;
  width: 100%;
  height: 100%;
  background: var(--background-subtle);
  transition: grid-template-rows 0.2s, padding 0.2s;

  > div {
    overflow: hidden;
  }

  &.open {
    grid-template-rows: 1fr;
    padding: 1.5rem;
    transition: grid-template-rows 0.2s, padding 0.2s;
  }

  .nav-header {
    color: var(--foreground-subtle);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    margin-top: 0.5rem;
  }

  .nav-link {
    &.active {
      font-weight: var(--font-weight-bold);
    }
  }
}

p,
ul {
  line-height: 1.5;
}

button,
input,
textarea {
  font-size: var(--fs-body);
  font-family: inherit;
}

.nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 2rem var(--page-padding);
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--foreground);

  &:hover,
  &.active {
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-decoration-thickness: 2px;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.dropdown {
  position: relative;

  &.collapsed {
    .dropdown-trigger svg {
      transform: rotate(180deg);
    }

    .dropdown-menu {
      display: none;
    }
  }
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0;
  background: transparent;
  cursor: pointer;

  svg {
    height: 1.25rem;
  }
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  margin-top: 0.5rem;
  border: 1px solid var(--border-color-primary);
  border-radius: 0.5rem;
  list-style: none;
  background: var(--background);
  z-index: 10;

  li:first-of-type .dropdown-item {
    border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
  }

  li:last-of-type .dropdown-item {
    border-radius: 0 0 calc(0.5rem - 1px) calc(0.5rem - 1px);
  }
}

.dropdown-item {
  display: block;
  border: 0;
  padding: 0.5rem 1.25rem;
  width: 100%;
  color: var(--foreground);
  text-decoration: none;
  text-align: left;
  line-height: 1.5;
  background: var(--background);
  cursor: pointer;

  &:hover {
    color: var(--background);
    background: var(--green);
  }
}

.form-control,
.form-submit {
  display: block;
  margin-top: 1rem;
}

.form-control-input {
  display: block;
  margin-top: 0.5rem;
  width: 100%;
}

.icon-action,
.form-control-inline {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    height: 1em;
  }
}

.chart-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color-primary);
  padding: 1rem;
  background: var(--background);
  width: 100%;
  height: 30rem;

  .chart-card-heading {
    font-size: var(--fs-body);
    font-weight: var(--font-weight-normal);
  }

  .chart-container {
    margin-top: 1rem;
    flex: 1;
  }
}

.chart-container {
  position: relative;

  .chart {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.chart {
  display: block;
  width: 100%;
  height: 100%;
}

.point {
  fill: var(--background);
  stroke: var(--foreground);
  stroke-width: 2px;
}

.line {
  stroke: var(--foreground);
}

.domain {
  color: var(--foreground-subtle);
}

.tick {
  color: var(--foreground-subtle);
  font-size: var(--fs-tiny);
}

.overlay {
  .percentile {
    opacity: 0.3;
    transition: opacity 0.1s ease-out;
  }
}

.percentile {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.fifth_percentile {
  fill: var(--gradeAp);
}

.tenth_percentile {
  fill: var(--gradeA);
}

.twentieth_percentile {
  fill: var(--gradeB);
}

.thirtieth_percentile {
  fill: var(--gradeC);
}

.fortieth_percentile {
  fill: var(--gradeD);
}

.fiftieth_percentile {
  fill: var(--gradeE);
}

.f_percentile {
  fill: var(--gradeF);
}

.page-header {
  display: grid;
  grid-template-columns: auto;
  justify-items: start;
  gap: 1rem;
  align-items: center;
}

.page-header-action {
  border: 1px solid var(--background-inverse);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  color: var(--foreground);
  border-color: var(--background-inverse);
  background: var(--background);

  &:hover {
    color: var(--foreground-inverse);
    background: var(--background-inverse);
  }
}

.table-responsive {
  overflow-x: auto;
}

.table {
  margin-top: 1.5rem;
  border-collapse: collapse;
  width: 100%;
  text-align: left;

  th,
  td {
    border-bottom: 1px solid var(--border-color-primary);
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 640px) {
  :root {
    --page-padding: 4rem;
  }

  .page-header {
    grid-template-columns: 1fr auto;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-display: 5rem;
  }

  .content-area {
    grid-template-columns: auto 1fr;
    gap: 4rem;
    padding: 2rem var(--page-padding);

    main {
      padding-top: 0;
    }
  }

  .menu-open,
  .menu-close {
    display: none;
  }

  .menu-top {
    border-bottom: 1px solid var(--border-color-primary);
  }

  .nav-secondary {
    position: relative;
    grid-template-rows: 1fr;
    background: none;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
