:root {
  --black: #171717;
  --white: #f6f6f6;
  --green: #5bc871;
  --green-subtle: #cde4d2;
  --gradeAp: var(--green);
  --gradeA: #b1de3f;
  --gradeB: #ebf138;
  --gradeC: #fabf3f;
  --gradeD: #fa803f;
  --gradeE: #f64434;
  --gradeF: #c80000;
  --background: var(--white);
  --foreground: var(--black);
  --background-inverse: var(--black);
  --foreground-inverse: var(--white);
  --foreground-subtle: #747474;
  --background-subtle: hsl(0, 0%, 94%);
  --background-accent: var(--green-subtle);

  --border-color-primary: #ccc;

  --fs-big: 2.5rem;
  --fs-lg: 2rem;
  --fs-md: 1.5rem;
  --fs-body: 1.25rem;
  --fs-subtle: 1.125rem;
  --fs-small: 1rem;
  --fs-tiny: 0.75rem;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --page-padding: 2rem;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #040208;
    --white: #ededed;
    --green-subtle: hsl(133, 30%, 25%);
    --background: var(--black);
    --foreground: var(--white);
    --background-inverse: var(--white);
    --foreground-inverse: var(--black);
    --foreground-subtle: #7d7d7d;
    --background-subtle: hsl(260, 10%, 8%);
    --background-accent: var(--green-subtle);
    --border-color-primary: #444;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  color: var(--foreground);
  background: var(--background);
  font-size: var(--fs-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  font-size: var(--fs-body);
  font-family: var(--font-family-body);
}

.content-area,
.page-padding {
  overflow-x: auto;
  padding: 0 var(--page-padding);
}

.content-area {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;

  main {
    padding: 2rem 0.5rem;
  }
}

.font-body {
  font-family: var(--font-family-body);
}

.font-mono {
  font-family: var(--font-family-mono);
}

.fs-subtle {
  font-size: var(--fs-subtle);
}

.text-subtle {
  font-size: var(--fs-subtle);
  color: var(--foreground-subtle);
}

.menu-open {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0;
  border-bottom: 1px solid var(--border-color-primary);
  padding: 0.5rem 0;
  background: none;
  cursor: pointer;

  svg {
    display: block;
    height: 2rem;
  }
}

.back-to {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.nav-secondary {
  display: grid;
  grid-template-rows: 0fr;
  padding: 0 1.5rem;
  width: 100%;
  height: 100%;
  background: var(--background-subtle);
  transition: grid-template-rows 0.2s, padding 0.2s;

  > div {
    overflow: hidden;
  }

  &.open {
    grid-template-rows: 1fr;
    padding: 1.5rem;
    transition: grid-template-rows 0.2s, padding 0.2s;
  }

  .nav-header {
    color: var(--foreground-subtle);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    margin-top: 0.5rem;
  }

  .nav-link {
    &.active {
      font-weight: var(--font-weight-bold);
    }
  }
}

p,
ul {
  line-height: 1.5;
}

button,
input,
textarea {
  font-size: var(--fs-body);
  font-family: inherit;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.nav-header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 1rem var(--page-padding);
  background: var(--background);
  z-index: 30;

  .menu-toggle svg {
    transition: transform 0.2s;
  }

  .menu-toggle.open svg {
    transform: rotate(90deg);
    transition: transform 0.2s;
  }
}

.nav-primary {
  position: relative;

  .nav-menu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid var(--border-color-primary);
    box-shadow: 0.5rem 0 0.5rem var(--border-color-primary);
    padding: 1rem var(--page-padding);
    width: 100dvw;
    background: var(--background);
    transform: translateY(-200%);
    transition: transform 0.2s ease-in-out;
    z-index: 20;

    &.open {
      transform: translateY(0);
      transition: transform 0.2s ease-in-out;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .on-lg {
    display: none;
  }
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--foreground);
  border: 0;
  background: transparent;
  cursor: pointer;
  width: fit-content;

  &:hover,
  &.active {
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-decoration-thickness: 2px;
  }

  &.logo {
    height: 4rem;

    & svg {
      display: block;
      width: auto;
      height: 100%;
    }
  }
}

.account-action {
  display: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.cta {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  color: var(--black);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  background: var(--green);

  & svg {
    height: 1rem;
  }

  &:hover {
    color: var(--foreground-inverse);
    background: var(--background-inverse);
  }
}

.dropdown {
  position: relative;

  &.collapsed {
    .dropdown-trigger svg {
      transform: rotate(180deg);
    }

    .dropdown-menu {
      display: none;
    }
  }
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0;
  background: transparent;
  cursor: pointer;

  svg {
    height: 1.25rem;
  }
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  margin-top: 0.5rem;
  border: 1px solid var(--border-color-primary);
  border-radius: 0.5rem;
  list-style: none;
  background: var(--background);
  z-index: 10;

  li:first-of-type .dropdown-item {
    border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
  }

  li:last-of-type .dropdown-item {
    border-radius: 0 0 calc(0.5rem - 1px) calc(0.5rem - 1px);
  }

  .dropdown-item {
    display: block;
    border: 0;
    padding: 0.5rem 1.25rem;
    width: 100%;
    color: var(--foreground);
    text-decoration: none;
    text-align: left;
    line-height: 1.5;
    background: var(--background);
    cursor: pointer;

    &:hover {
      color: var(--background);
      background: var(--green);
    }
  }
}

.form-control,
.form-submit {
  display: block;
  margin-top: 1rem;
}

.form-control-input {
  display: block;
  margin-top: 0.5rem;
  border: 1px solid var(--border-color-primary);
  border-radius: 8px;
  padding: 0.5rem;
  width: 100%;
  font-size: var(--fs-subtle);
  background: var(--background);

  &.inline {
    width: max-content;
  }
}

.form-submit {
  cursor: pointer;
  border: 1px solid var(--border-color-primary);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background: var(--background-subtle);

  &:hover {
    color: var(--foreground-inverse);
    background: var(--green);
  }
}

.icon-action,
.form-control-inline {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    height: 1em;
  }
}

.button-subtle {
  cursor: pointer;
  border: 1px solid var(--border-color-primary);
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  background: var(--background-subtle);
  font-size: var(--fs-subtle);

  &:hover {
    background: var(--background);
  }
}

.button-style-warning {
  border-color: var(--gradeF);
  color: var(--gradeF);
  background: none;

  &:hover {
    color: var(--foreground-inverse);
    background: var(--gradeF);
  }
}

.chart-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color-primary);
  padding: 1rem;
  background: var(--background);
  width: 100%;
  height: 30rem;

  .chart-card-heading {
    font-size: var(--fs-body);
    font-weight: var(--font-weight-normal);
  }

  .chart-container {
    margin-top: 1rem;
    flex: 1;
  }
}

.chart-container {
  position: relative;

  .chart {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.chart {
  display: block;
  width: 100%;
  height: 100%;

  text {
    font-family: var(--font-family-mono);
  }
}

.point {
  fill: var(--foreground);
}

.line {
  stroke: var(--green);
}

.domain {
  color: var(--foreground-subtle);
}

.tick,
.percentile-label {
  color: var(--foreground-subtle);
  font-size: var(--fs-tiny);
}

.percentile {
  stroke-dasharray: 8;
  stroke-width: 1px;
  stroke: var(--foreground-subtle);
}

/* .fifth_percentile {
  stroke: var(--gradeAp);
}

.tenth_percentile {
  stroke: var(--gradeA);
}

.twentieth_percentile {
  stroke: var(--gradeB);
}

.thirtieth_percentile {
  stroke: var(--gradeC);
}

.fortieth_percentile {
  stroke: var(--gradeD);
}

.fiftieth_percentile {
  stroke: var(--gradeE);
}

.f_percentile {
  stroke: var(--gradeF);
} */

.page-header {
  display: grid;
  grid-template-columns: auto;
  justify-items: start;
  gap: 1rem;
  align-items: center;
}

.page-header-action {
  border: 1px solid var(--background-inverse);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  color: var(--foreground);
  border-color: var(--background-inverse);
  background: var(--background);

  &:hover {
    color: var(--foreground-inverse);
    background: var(--background-inverse);
  }
}

.table-responsive {
  overflow-x: auto;
  white-space: nowrap;
}

.table {
  margin-top: 1.5rem;
  border-collapse: collapse;
  width: 100%;
  text-align: left;

  th,
  td {
    border-bottom: 1px solid var(--border-color-primary);
    padding: 0.5rem 1rem;
  }

  tbody {
    font-family: var(--font-family-mono);
    font-size: var(--fs-subtle);
  }
}

.logo-text {
  fill: var(--foreground);
}

@media (min-width: 640px) {
  :root {
    --page-padding: 4rem;
  }

  .page-header {
    grid-template-columns: 1fr auto;
  }
}

@media (min-width: 768px) {
  .content-area {
    grid-template-columns: auto 1fr;
    gap: 2rem;
    padding: 2rem calc(var(--page-padding) - 0.5rem) 2rem var(--page-padding);

    main {
      padding-top: 0;
    }
  }

  .menu-toggle {
    display: none;
  }

  .nav-primary {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

    .nav-menu {
      position: static;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      transform: translateY(0);
      border: 0;
      padding: 0;
      width: 100%;
      box-shadow: none;

      .nav-list {
        flex-direction: row;
        gap: 2rem;
      }
    }

    .nav-list .account-item {
      display: none;
    }

    .account-action {
      display: block;
      padding: 0 var(--page-padding);
      margin-left: auto;
    }
  }

  .menu-open,
  .menu-close {
    display: none;
  }

  .menu-top {
    border-bottom: 1px solid var(--border-color-primary);
  }

  .nav-secondary {
    position: relative;
    grid-template-rows: 1fr;
    background: none;
    padding-left: 0;
    padding-right: 0;

    > div {
      overflow: unset;
    }
  }
}

@media (min-width: 1024px) {
  .content-area {
    gap: 4rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
