.hero {
  text-align: center;
  margin-top: 5rem;

  & .title {
    font-size: var(--fs-display);
  }
}

.green {
  color: var(--green);
  text-transform: uppercase;
}

.small {
  font-size: 3.5rem;
  font-weight: var(--font-weight-normal);
}

.title {
  & svg {
    height: 10rem;
    width: auto;
  }
}
