.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

.title {
  font-weight: var(--font-weight-semibold);
  font-size: 3rem;
}

.green {
  color: var(--green);
  text-transform: uppercase;
}

.tryItOut {
  border-radius: 0.5rem;
  padding: 4rem 2rem 5rem;
  background: var(--green-subtle);
}

@media (min-width: 768px) {
  .tryItOut {
    padding: 6rem 2rem 7rem;
  }
}
