.hero {
  text-align: center;
  min-height: calc(100dvh - var(--fs-display) - 2rem);
  align-content: center;

  & .title {
    font-size: var(--fs-display);
  }
}

.green {
  color: var(--green);
  text-transform: uppercase;
}

.small {
  font-size: 3.5rem;
  font-weight: normal;
}
