.urlForm {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
}

.urlFormControl {
  display: flex;
  margin-top: 0.5rem;
  border: 1px solid var(--border-color-primary);
  border-radius: 0.5rem;
  width: 75dvw;
  min-width: 300px;
  max-width: 600px;
  background: var(--background);
}

.urlFormInput {
  flex: 1;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 0 calc(0.5rem - 1px) calc(0.5rem - 1px) 0;
  background: var(--background);
}

.urlFormInputAddon {
  border: 0;
  border-radius: calc(0.5rem - 1px) 0 0 calc(0.5rem - 1px);
  padding: 0.5rem 1rem;
  background: var(--background-subtle);
}

.urlFormSubmit {
  border: 0;
  border-radius: 0.5rem;
  background: #f4f4f4;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  color: var(--black);

  &:disabled {
    color: #999;
  }

  &:hover:not(:disabled) {
    cursor: pointer;
    border: 1px solid var(--border-color-primary);
  }
}
