.main {
  padding-bottom: 4rem;
}

.backLink {
  display: flex;
  align-items: center;
  margin-top: 3.5rem;
  color: var(--foreground);
  text-decoration: none;

  & svg {
    margin-right: 0.5rem;
    height: 1rem;
  }
}

.url {
  display: block;
  color: var(--foreground);
}

.rating {
  display: inline-block;
  margin-top: 2rem;
  font-size: 5rem;
  font-weight: var(--font-weight-bold);
}

.hostInfo {
  font-size: var(--fs-subtle);
  color: var(--foreground-subtle);

  & summary {
    cursor: pointer;
    font-size: 1rem;
  }

  & ul {
    position: absolute;
    list-style: none;
    margin-top: 0.5rem;
    border: 1px solid var(--border-color-primary);
    border-radius: 0.5rem;
    padding: 1rem;
    padding-top: 0.5rem;
    background: var(--background);
  }

  & li {
    margin-top: 0.5rem;
  }
}
