.main {
  padding: 4rem;
}

.backLink {
  display: flex;
  align-items: center;
  margin-top: 3.5rem;
  color: var(--foreground);
  text-decoration: none;

  & svg {
    margin-right: 0.5rem;
    height: 1rem;
  }
}

.url {
  display: block;
  color: var(--foreground);
}

.rating {
  display: inline-block;
  margin-top: 2rem;
  font-size: 5rem;
  font-weight: bold;
}

.cardGroup {
  display: grid;
  grid-template-columns: auto;
  justify-content: start;
  justify-items: start;
  gap: 2rem;
  margin-top: 2rem;
}

.statCard {
  & .heading {
    font-size: var(--fs-body);
    font-weight: normal;
  }

  & .stat {
    font-size: 2.5rem;
  }

  & .unit {
    margin-left: 0.5rem;
  }

  & .body {
  }
}

.hostInfo {
  & summary {
    cursor: pointer;
    font-size: 1rem;
  }

  & ul {
    position: absolute;
    list-style: none;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-top: 0.5rem;
    background: var(--background);
  }

  & li {
    margin-top: 0.5rem;
  }
}

@media (min-width: 640px) {
  .cardGroup {
    margin-top: 3rem;
    grid-template-columns: auto auto;
    gap: 3rem;
  }
}
