.main {
  padding-bottom: 4rem;
}

.backLink {
  display: flex;
  align-items: center;
  margin-top: 3.5rem;
  color: var(--foreground);
  text-decoration: none;

  & svg {
    margin-right: var(--space-xs);
    height: var(--space-sm);
  }
}

.url {
  display: block;
  color: var(--foreground);
}

.rating {
  display: inline-block;
  margin-top: 2rem;
  font-size: 5rem;
  font-weight: var(--font-weight-bold);
}

.hostInfo {
  font-size: var(--fs-subtle);
  color: var(--foreground-subtle);

  & summary {
    cursor: pointer;
    font-size: var(--fs-small);
  }

  & ul {
    position: absolute;
    list-style: none;
    margin-top: var(--space-xs);
    border: 1px solid var(--border-color-primary);
    border-radius: var(--space-xs);
    padding: var(--space-sm);
    padding-top: var(--space-xs);
    background: var(--background);
  }

  & li {
    margin-top: var(--space-xs);
  }
}

.cardInfo {
  padding: var(--space-sm);
}

.cardChart {
  padding: var(--space-sm);
  background: var(--background-subtle);
}

.card {
  margin-top: var(--space-xl);
  border: 1px solid var(--border-color-primary);
}

.cardTitle {
  font-size: var(--fs-body);
  font-weight: var(--font-weight-normal);
}

.stat {
  margin-top: var(--space-md);
}

.statValue {
  margin-top: var(--space-xs);
  font-family: var(--font-family-mono);
  font-size: var(--fs-big);
}

.unit {
  font-size: var(--fs-body);
}

@media (min-width: 768px) {
  .cardInfo {
    padding: var(--space-md) var(--space-lg);
  }

  .cardChart {
    padding: var(--space-md) var(--space-lg);
  }
}
